/*gomycsscode*/
h1{ background-color: rgba(204, 248, 10, 0.37);
}
h2{
background-color: rgba(152, 184, 154, 0.856);   
}
h3{
background-color:  rgba(152, 184, 154, 0.856);      
}
h4{
background-color:  rgba(152, 184, 154, 0.856);      
}
body{background-color:  rgba(152, 184, 154, 0.856);
}
.heading{font-family: arial; font-weight: bolder; color: black;
 font-size: 25px;text-transform: uppercase;
} 
.intro{
font-weight: bolder; color: black;
 font-size: 35px;text-transform: uppercase;	
}
.img{ float: right; padding-right: 2px; padding-top: 2px; margin-right: 2px; margin-top: 2px; border-top: 2px; border-right: 2px;
}
.icon{
 float: left;
 color: #0a0a0a;
 box-align:left;
}
.prof{color: black;
font-size: 25px; font-weight: lighter; text-transform: uppercase;}
.summary{font-size: 15px; font-weight: bolder;
 color: #cc5500; padding-left: 6px;
font-style: justify;
}
.contactinfo{font-weight: bolder;
font-size: 25px; text-align: left;       margin-top: 2px; margin-left: 2px; border-top:  2px; border-left: 2px; padding-top: 5px; color: black;
}
.subheading{
 font-size: 10px;
}
.skills{font-weight: bolder;
font-size: 25px; text-align: left; margin-top: 2px; margin-left: 2px; border-left: 2px; padding-top: 10px; color: black;
}
.css{font-size: 15px; font-family: arial; font-weight: bolder; background-color: green; color: black;
} 

.html{font-size: 15px; font-family: arial; font-weight: bolder; background-color: green; color: black;
}
.javascript{font-size: 15px; font-family: arial; font-weight: bolder; background-color: green; color: black;
}
.data{
 font-size: 15px;
}
body{background-border:none;}
